<div class="container-xxl p-0 mt-5">
  <h1 class="text-center" style="padding-top: 4rem;">Modification du Commentaire</h1>


  <% flash.each do |type, msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_with(model: [@gossip, @comment], local: true) do |form| %>

      <%= form.label :content, "Commentaire :" %>
      <%= form.text_area :content %>

      <%= form.submit "Modifier" %>

  <% end %>
  <%= button_to "Supprimer le commentaire", [@gossip, @comment], :method => :delete %>
</div>