<div class="container-xxl p-0 mt-5 mx-5">
  <h1 class="text-center" style="padding-top: 4rem;">Inscription</h1>

  <% flash.each do |type, msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_with(model: @user, local: true) do |form| %>

      <%= form.label :first_name, "Prénom :" %>
      <%= form.text_field :first_name %>

      <%= form.label :last_name, "Nom :" %>
      <%= form.text_field :last_name %>

      <%= form.label :description, "Description :" %>
      <%= form.text_area :description %>

      <%= form.label :age, "Age :" %>
      <%= form.number_field :age, in: 1..150, step: 1 %>

      <%= form.label :city_id, "Ville :" %>
      <%= form.select :city_id, @cities %>

      <%= form.label :email, "Adresse email :" %>
      <%= form.email_field :email %>

      <%= form.label :password, "Mot de passe :" %>
      <%= form.password_field :password %>

      <%= form.label :password_confirmation, "Mot de passe :" %>
      <%= form.password_field :password_confirmation %>

      <%= form.submit "S'inscrire" %>

  <% end %>
</div>